<div class="message__row message_row_{{author}}">
    <div class="message__box">
        <p class="message__row-message">{{message}}
            <span class="message__row-time">
                {{time}}
            </span>
            {{#unless author}}
                <img class="message__row-read" src="/img/Read.png" alt="">
            {{/unless}}
        </p>
    </div>
</div>
