
<div class="profile__list">
    {{> RowLabelProfile name="Почта" value="pochta@yandex.ru"}}
    {{> RowLabelProfile name="Логин" value="ivanivanov"}}
    {{> RowLabelProfile name="Имя" value="Иван"}}
    {{> RowLabelProfile name="Фамилия" value="Иванов"}}
    {{> RowLabelProfile name="Имя в чате" value="Иван"}}
    {{> RowLabelProfile name="Телефон" value="+7 (909) 967 30 30"}}
</div>