<div class="popup_people">
    {{> ButtonAppend buttonID="people_append" icon="/img/Append.png" text="Добавить пользователя"}}
    {{> ButtonAppend buttonID="people_remove" icon="/img/Remove.png" text="Удалить пользователя"}}
</div>
