<form class="profile__list" id="{{idForm}}">
{{> RowInputProfile name="Почта" nameValue="email" value="pochta@yandex.ru" type="email" autocomplete="email"}}
{{> RowInputProfile name="Логин" nameValue="login" value="ivanivanov" type="text" autocomplete="login"}}
{{> RowInputProfile name="Имя" nameValue="name" value="Иван" type="text" autocomplete="given-name"}}
{{> RowInputProfile name="Фамилия" nameValue="family-name" value="Иванов" type="text" autocomplete="family-name"}}
{{> RowInputProfile name="Имя в чате" nameValue="nameChat" value="Иван" type="text" autocomplete="given-name"}}
{{> RowInputProfile name="Телефон" nameValue="tel" value="+7 (909) 967 30 30" type="tel" autocomplete="tel"}}
</form>
