<section class="section__login">
    <div class="div__login">
        {{> LabelLogin text=nameForm }}
        <form action="" class="form__login" id="{{id_form}}">
            {{{body}}}
        </form>
        {{> LinkLogin text=textLink}}
    </div>
</section>
