<form class="profile__list" id="{{idForm}}">
    {{> RowInputProfile name="Старый пароль" nameValue="oldPassword" type="password" value="sfeswfesefsefsd" readonly="readonly"}}
    {{> RowInputProfile name="Новый пароль" nameValue="newPassword" value="пароль" type="password" autocomplete="new-password"}}
    {{> RowInputProfile name="Повторите новый пароль" nameValue="newPassword-repeat" value="пароль" type="password" autocomplete=""}}
</form>
