<form class="profile__list" id="{{idForm}}">
    {{> RowLabelProfile name="Старый пароль" value="********"}}
    {{> RowInputProfile name="Новый пароль" nameValue="password" value="пароль" type="password" autocomplete="new-password"}}
    {{> RowInputProfile name="Повторите новый пароль" nameValue="password-repeat" value="пароль" type="password" autocomplete=""}}
</form>