<ul>
    <li><a href="#" page="login">Login</a></li>
    <li><a href="#" page="register">Register</a></li>
    <li><a href="#" page="chat">Chat</a></li>
    <li><a href="#" page="error404">404</a></li>
    <li><a href="#" page="error500">500</a></li>
    <li><a href="#" page="profile">Profile</a></li>
    <li><a href="#" page="profileChangeData">Profile (Change Data)</a></li>
    <li><a href="#" page="profileChangePassword">Profile (Change Password)</a></li>
</ul>